<!DOCTYPE html>
<html>
<head> 
    <link rel="stylesheet" href="/css/discover.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
</head>

<body>
    <div class="main-search-div">
          <div class="search-bar">
              <h4 id = "discovery-title">
                Observers
              </h4>
                  <div class="search-container">
            <input  placeholder="Search for projects..." id="search" type="text" class="validate">
        </div>
            
              </div>
          <div class="grid">
          
            {% for result in results %}
            <div  class="grid-item">
              <div><i style = "cursor:pointer" id="{{result._id}}" onclick="toCanvas(this.id)"  class="material-icons">add</i></div>
                <p>{{result._id}}</p>
                    <p style="font-weight:bold">{{result.name}}</p>
                <p>{{result.createdAt}}</p>
            </div>
            {% else %}
            <div>Empty!</div>
          
            {% endfor %}

            </div>       
        </div>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script defer>


function applyMasonProps(){
   $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 300,
  gutter:15,
});
}

applyMasonProps();

$("#search").keypress(function(e) {
    if(e.which == 13) {
      axios.post('http://localhost:3000/search', {
        id: $("#search").val(),
      }).then((resp)=>{
        console.log(resp.data);
         $(".grid-item").remove();
         console.log(resp.data) ;
        resp.data.forEach(element=>{
          $(`<div class = "grid-item">    <div><i style = "cursor:pointer" id="${element._id}" onclick="toCanvas(this.id)"  class="material-icons">add</i></div><p>${element._id}</p><p>${element.name}</p></div>`).appendTo('.grid');
        })
       
      }).catch((error)=>{
        throw error;
      })
    }
});

function toCanvas(id) {
    window.location = '/project/' + id;
}
  </script>
</html>
