{%extends 'master.html' %} {%block content%}
<div id="surround-container">
    <div id="progress-loader" class="progress white">
        <div class="indeterminate lime accent-3"></div>
    </div>
    <div id="loader" class="loader">Loading...</div>

    <div class="node-list" id="node-list">
        <div style="margin-left: 20px; margin-top:20px; margin-right:20px; width:90%; display:flex; justify-content: space-evenly;">
            <a class="tooltipped a-color modal-trigger" href="#helpModal" data-position="bottom" data-tooltip="Show Help"><i  class="material-icons">live_help</i> <a/>  
            <a style="margin-left:20px; cursor:pointer" class="tooltipped a-color" data-position="bottom" data-tooltip="Save current project" onclick="saveEditor()"><i class="material-icons md-18">save</i></a>
            <a href="#cloudUploadModal" style="margin-left:20px; cursor:pointer" class="tooltipped a-color modal-trigger" data-position="bottom" data-tooltip="Cloud Upload"><i  class="material-icons">cloud_upload</i></a>
            <a style="margin-left:20px; cursor:pointer" class="tooltipped a-color" data-position="bottom" data-tooltip="Restore previous project" onclick="document.getElementById('file-input').click();"><i class="material-icons md-18">publish</i></a>
            <a id = "logout" style="margin-left:20px; cursor:pointer" class="tooltipped a-color" data-position="bottom" data-tooltip="Log Out" ><i class="material-icons md-18">exit_to_app</i></a>
            <i style="margin-left:20px; cursor:pointer" id="close-node-list" class="material-icons">close</i>
       
        </div>

        <div class="node-search-container">
            <input  placeholder="Search for nodes..." id="node-search" type="text" class="validate">
        </div>

        <div id="options">
            <ul id="options-ul">
                <div data-node-type="variables" class="variables">
                    <p>Variables</p>
                    <div class="seperator"></div>
                    <p id="number">Number</p>
                    <p id="package">Package</p>
                    <p id="debug">Debug</p>
                </div>
                <div data-node-type="calculators" class="calculators margintop">
                    <p>Calculate</p>
                    <div class="seperator"></div>
                    <p id="add">Add</p>
                    <p id="multiply">Multiply</p>
                    <p id="calc-distance">Calculate Distance</p>
                </div>

                <div data-node-type="formatters" class="formatters">
                    <p>Output Display</p>
                    <div class="seperator"></div>
                    <p id="map-output">Map Output</p>
                </div>

                <div data-node-type="solvers" class="solvers margintop">
                    <p>Solvers</p>
                    <div class="seperator"></div>
                    <p id="route-solver">Routing Solver</p>
                </div>

            </ul>

        </div>
    </div>
    <p style = "display: none;" id = "data-holder">{{progressid}}</p>

    
  <div id="cloudUploadModal" class="modal">
        <div class="modal-content">
          <h5>Please give your project a name...</h5>
          <div class="input-field col s12">
                <input id="projectName" type="text" data-length="10">
                <label for="projectName">Project Name</label>
              </div>
        <div class="modal-footer">
          <a id = "saveNodes" href="#!" class="modal-close waves-effect waves-green btn-flat">DONE</a>
        </div>
      </div>
  </div>

    <div id="helpModal" class="modal">
      <div class="modal-content">
        <h4>Help</h4>
        <hr>
        <h5>Getting Started</h5>
        <p>To get started on a project right click anywhere on the canvas and choose a node from the
        menu or pick a node from the sidebar. The sidebar can be accessed by clicking on the icon width
        the <em>Nodes</em> tooltip</p>
        <figure>
        <img class="materialboxed" width="700" src="/images/home.png" alt="Home page image">
        <figcaption><em>View after Right-Clicking or Opening the sidebar</em></figcaption>
        </figure>
        <br>
        <h5>Working with Nodes</h5>
        <p>There are a couple key functions available once you have added a node.</p>
        <ol>
          <li>Duplicating the node, available by right-clicking on it.</li>
          <li>Deleting the node, also in the right-click menu.</li>
          <li>Connecting nodes with compatible types together - Done by clicking between inputs/outputs</li>
          <li>Interacting with the node through controls usually either buttons or input fields
            on the node itself.</li>
        </ol> 
        <figure>
          <img class="materialboxed" width="700" src="/images/nodes.png" alt="Node Iteraction">
          <figcaption><em>Interacting with nodes</em></figcaption>
        </figure>
        <br>
        <h5>Managing Projects</h5>
        <p>Once your nodes are assembled there are a few options available.</p>
        <ol>
          <li>Building the model into a usable solution using the build button on the toolbar.</li>
          <li>If you are logged in saving your nodes to your account resume work at a later time.</li>
          <li>Saving your work locally.</li>
        </ol> 
        <p>If you build the model then results are produced through the various solver nodes and can be combined 
        together with corresponding output nodes to display the results. Additionally if you wish to embed the
        results of the model elsewhere then a dialog with the necessary code will popup when you click the
        embed button on the output nodes</p>
        <figure>
          <img class="materialboxed" width="700" src="/images/model.png" alt="Node Iteraction">
          <figcaption><em>Working with a model</em></figcaption>
        </figure>
      </div>

    </div>

    <div id="mapModal" class="modal">
        <div id="map"></div>
        <a id="append-val" class="btn-floating btn-medium waves-effect waves-light green"><i class="material-icons">done</i></a>
        <a href="#mapModal" class="modal-close btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">close</i></a>
    </div>

    <div id="prefModal" class="modal modal-fixed-footer">
      <h4>Click cell to select a prefered shift allocation</h4>
      <div id="prefTable"></div>
      <a id="save-pref" href="#!" class="modal-close waves-effect waves-green btn">Save</a>
    </div>

    <div id="embedModal" class="modal modal-fixed-footer">
        <h4>Copy and Paste the following to embed the result elsewhere</h4>
        <pre class="prettyprint lang-html lang-css"><code id="embed"></code></pre>
      <a class="modal-close waves-effect waves-green btn">Close</a>
    </div>

    <div id="schedModal" class="modal">
      <h4>Shift Allocations</h4>
      <div id="prefOutputTable"></div>
      <a class="modal-close waves-effect waves-green btn">Close</a>
    </div>

    <input id="file-input" type="file" name="name" style="display: none;" />
    <div class="toolbar">
      <p id="app-name">NodeCanvas</p>
        <div class="menu-options">
            <ul>
                <li id="openNodeMenu" class="tooltipped" data-position="bottom" data-tooltip="Nodes">
                    <i class="material-icons">bubble_chart</i>
                </li>
                <li class="tooltipped" data-position="bottom" data-tooltip="Build Solution">
                    <img id="build-solution" style="transform: rotate(-45deg);" width="20" height="20" src="/images/build.png">
                </li>

                <li id="discover" class="tooltipped" data-position="bottom" data-tooltip="Explore">
                    <i class="material-icons">explore</i>
                </li>

                <li id="account" class="tooltipped" data-position="bottom" data-tooltip="{{username}}">
                    <i class="material-icons">person_pin</i>
                </li>
            </ul>
        </div>

    </div>
    <div id="rete"></div>
</div>
{%endblock%}
