<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="center">
        <h4>NodeCanvas</h4>
      
        <div id = "input-row" class="row">
            <div class="input-field col s12">
                <input id="username" type="text">
                <label for="username">Username</label>
            </div>
            <div style = "margin-top: -5px;" class="input-field col s12">
                    <input id="password" type="password">
                    <label for="password">Password</label>
                </div>
              
        </div>
      
        <div style="background: linear-gradient(96deg, #11998e, #38ef7d); margin-left: 20px; margin-right: 20px;  color: white; font-weight: bold; border-radius: 10px;" class="login-btn">
                <p style="padding-top: 8px; padding-bottom: 8px;">Login</p>
            </div>
            <p id="login-info-text">If you do not have an account you can always get started by <span style="font-weight: bold;">registering. </span></p>
        <div>
</body>
<script type="text/javascript" src="/js/materialize.min.js" defer></script>

</html>