<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>Route for problem {{ problemId }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet' />
    <style>
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
  </head>
  <body id = "body" >

    <div id='map'></div>

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
    <script>
      function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      }

      mapboxgl.accessToken = '{{ accessToken}}';
      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10',
      });
      map.on('load', (event) => {
        $.ajax({
          url:'{{ resultsURL }}',
          type: "GET",
          success: function(data) {
            var result = data[0];
            map.setCenter(result.locations[0]);
            map.setZoom(6.5);
            var pointIndex = 0;
            const points = result.locations.map((elem) => {
              pointIndex += 1;
              return {
                "type": 'Feature',
                "id": `point${pointIndex}`,
                "properties": { "locindex" : pointIndex },
                "geometry": {
                  "type": 'Point',
                  "coordinates": elem,
                }
              };
            });

            map.addSource("points", {
              type: "geojson",
              data: {
                type: "FeatureCollection",
                features: points,
              }
            });

            map.addLayer({
              "id": "points",
              "type": "circle",
              "source": "points",
              "paint": {
                "circle-radius": 10,
                "circle-color": "#448ee4",
              },
            });

            map.addLayer({
              "id": "points-label",
              "type": "symbol",
              "source": "points",
              "layout": {
                "text-field": "{locindex}",
                "text-size": 30,
                "text-offset": [0, 0.5],
              }
            });

            result.vehicles.forEach((vehicle, vi) => {
              var segments = vehicle.path.map((cur, vi) => {
                var locs = result.locations;
                var j = vehicle.path[(vi + 1) % vehicle.path.length];
                return [locs[cur], locs[j]];
              });

              if (vehicle.hasOwnProperty('load')) {
                segments = segments.map((segment, si) => {
                  console.log(segment);
                  return [segment, vehicle.load[si] ? "load "+ vehicle.load[si].toString() : '']
                });
              }

              map.addSource(`vehicle${vi}`, {
                type: "geojson",
                data: {
                  type: "FeatureCollection",
                  features: segments.map((segment) => {
                    return {
                      "type": "Feature",
                      "properties": { "load": `${segment[1]}` },
                      "geometry": {
                        "type": "LineString",
                        "coordinates": segment[0],
                      }
                    }
                  }),
                }
              });

              map.addLayer({
                "id": `vehicle${vi}`,
                "type": "line",
                "properties": { },
                "source": `vehicle${vi}`,
                "layout": {
                  "line-cap": "round",
                },
                "paint": {
                  "line-color": getRandomColor(),
                  "line-width": 4
                }
              });

              map.addLayer({
                "id": `load-label${vi}`,
                "type": "symbol",
                "source": `vehicle${vi}`,
                "layout": {
                  "text-field": "{load}",
                  "symbol-placement": "line-center",
                  "text-font": ["Roboto Condensed Italic"],
                  "text-anchor": "bottom",
                  "text-size": 25,
                }
              });

            });


            /*
            map.addSource('lines', {
              type: "geojson",
              data: {
                type: "FeatureCollection",
                features: lines,
              }
            });

            map.addLayer({
              "id": "lines",
              "type": "line",
              "properties": { },
              "source": "lines",
              "layout": {
                "line-join": "round",
                "line-cap": "round",
              },
              "paint": {
                "line-color": getRandomColor(),
                "line-width": 4
              }
            });
             */
          },
          error: function(error) { console.log(error); },
        });
      });
    </script>

  </body>
</html>


